main{
    width: 100%;
    height: 526px;
}
main .main-content{
    width: 85%;
    height: 526px;
    margin: 0 auto;
    min-width: 1200px;
}
main .main-content .banner{
    width: 550px;
    height: 242px;
    position: relative;
}
main .main-content .banner .bannerImgs{
    width: 550px;
    height: 242px;
    overflow: hidden;
    position: relative;
}
main .main-content .banner .bannerImgs ul {
    width: 600%;
    height: 242px;
    /* 设置绝对定位 */
    position: absolute;
    left: 0;
    top: 0;
}
main .main-content .banner .bannerImgs ul li{
    float: left;
    width: 550px;
    height: 242px;
}
main .main-content .banner .bannerImgs ul li a img{
    width: 550px;
    height: 242px;
}
main .main-content .banner .arrow_left,main .main-content .banner .arrow_right{
    position: absolute;
    top: 50%;
    width: 36px;
    height: 44px;
    margin-top: -22px;
    cursor: pointer;
    display: none;
}
main .main-content .banner .arrow_left{
    left: 0;
}
main .main-content .banner .arrow_right{
    right: 0;
}
main .main-content .banner ol{
    position: absolute;
    bottom: 10px;
    right:0;
    width: 120px;
    margin-left: -60px;
}
main .main-content .banner ol li{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background: white;
    float: left;
    cursor: pointer;
}
main .main-content .banner ol li:last-child{
    margin-right: 0;
}
main .main-content .banner ol li.current{
    border-width: 0;
    border-color: transparent;
    background-color: transparent;
    background-image: url(//s1.hdslb.com/bfs/static/jinkela/international-home/asserts/icon_slide_selected.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.8);
}